.container-signup{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 218, 218);
}
.card-signup{
    width: 40vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(202, 199, 199);
    border-radius: 10px;
    border: 1px solid rgb(143, 143, 143);
}
.text-signup{
    margin-top: 10px;
    font-weight: 800;
}
.text-erro{
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.formulario{
    width: 80%;
    font-weight: bold;
}
.form-control{
    width: 100%;
    border: none;
    padding: 15px;
    background-color: white;
}
.form-nome{
    margin-bottom: 20px;
}
.form-sobrenome{
    margin-bottom: 20px;
}
.form-telefone{
    margin-bottom: 20px;
}
.form-email{
    margin-bottom: 20px;
}
.form-senha{
    margin-bottom: 20px;
}
.btn-signup{
    width: 100%;
    padding: 15px;
    border: none;
    font-weight: 800;
    background-color: #157a8c;
    margin-bottom: 10px;
    cursor: pointer;
}
.btn-signup:hover{
    background-color: #146979;
}
.texto-ajuda{
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.btn-redirect{
    text-decoration: none;
    color: black;
    margin-top: 5px;
}