{% extends "main/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'perifericos/css/monitores.css' %}">
<main class="container">
    <div class="container-produtos">
        <section class="teclados">
            <h3>TECLADOS MAIS PROCURADOS</h3>
            <div class="card">
                <div class="produto" id="img-1"></div>
                <h3>Teclado</h3>
                <p>Teclado Mecanico Redragon Sani RGB, K581RGB</p>
                <p class="preco">à vista R$ 250,00</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="card">
                <div class="produto" id="img-2"></div>
                <h3>Teclado 2</h3>
                <p>Teclado Mecanico Redragon Sani RGB, K581RGB</p>
                <p class="preco">à vista R$ 250,00</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="card">
                <div class="produto" id="img-3"></div>
                <h3>Teclado 3</h3>
                <p>Teclado Mecanico Redragon Sani RGB, K581RGB</p>
                <p class="preco">à vista R$ 250,00</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="card">
                <div class="produto" id="img-4"></div>
                <h3>Teclado 4</h3>
                <p>Teclado Mecanico Redragon Sani RGB, K581RGB</p>
                <p class="preco">à vista R$ 250,00</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="card">
                <div class="produto" id="img-5"></div>
                <h3>Teclado 5</h3>
                <p>Teclado Mecanico Redragon Sani RGB, K581RGB</p>
                <p class="preco">à vista R$ 250,00</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="card">
                <div class="produto" id="img-1"></div>
                <h3>Teclado</h3>
                <p>Teclado Mecanico Redragon Sani RGB, K581RGB</p>
                <p class="preco">à vista R$ 250,00</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="card">
                <div class="produto" id="img-2"></div>
                <h3>Teclado 2</h3>
                <p>Teclado Mecanico Redragon Sani RGB, K581RGB</p>
                <p class="preco">à vista R$ 250,00</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="card">
                <div class="produto" id="img-3"></div>
                <h3>Teclado 3</h3>
                <p>Teclado Mecanico Redragon Sani RGB, K581RGB</p>
                <p class="preco">à vista R$ 250,00</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="card">
                <div class="produto" id="img-4"></div>
                <h3>Teclado 4</h3>
                <p>Teclado Mecanico Redragon Sani RGB, K581RGB</p>
                <p class="preco">à vista R$ 250,00</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="card">
                <div class="produto" id="img-5"></div>
                <h3>Teclado 5</h3>
                <p>Teclado Mecanico Redragon Sani RGB, K581RGB</p>
                <p class="preco">à vista R$ 250,00</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="card">
                <div class="produto" id="img-1"></div>
                <h3>Teclado</h3>
                <p>Teclado Mecanico Redragon Sani RGB, K581RGB</p>
                <p class="preco">à vista R$ 250,00</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="card">
                <div class="produto" id="img-2"></div>
                <h3>Teclado 2</h3>
                <p>Teclado Mecanico Redragon Sani RGB, K581RGB</p>
                <p class="preco">à vista R$ 250,00</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="card">
                <div class="produto" id="img-3"></div>
                <h3>Teclado 3</h3>
                <p>Teclado Mecanico Redragon Sani RGB, K581RGB</p>
                <p class="preco">à vista R$ 250,00</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="card">
                <div class="produto" id="img-4"></div>
                <h3>Teclado 4</h3>
                <p>Teclado Mecanico Redragon Sani RGB, K581RGB</p>
                <p class="preco">à vista R$ 250,00</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="card">
                <div class="produto" id="img-5"></div>
                <h3>Teclado 5</h3>
                <p>Teclado Mecanico Redragon Sani RGB, K581RGB</p>
                <p class="preco">à vista R$ 250,00</p>
                <a href="#" class="btn">Comprar</a>
            </div>
        </section>
    </div>
</main>
{% endblock content %}