{% extends "main/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'perifericos/css/mousepads.css' %}">
<main class="container">
    <div class="container-produtos">
        <section class="mousepads">
            <h3>OS MELHORES MOUSE PADS VOCÊ ENCONTRA AQUI</h3>
            <div class="card">
                <div class="produto" id="img-1"></div>
                <h3>Mouse Pad</h3>
                <p class="txt-prod">Mouse Pad com ótimo custo benefício para você que está a procura de um!</p>
                <p class="preco">à vista R$ 250,00</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="card">
                <div class="produto" id="img-2"></div>
                <h3>Mouse Pad 2</h3>
                <p class="txt-prod">Mouse Pad com ótimo custo benefício para você que está a procura de um!</p>
                <p class="preco">à vista R$ 250,00</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="card">
                <div class="produto" id="img-3"></div>
                <h3>Mouse Pad 3</h3>
                <p class="txt-prod">Mouse Pad com ótimo custo benefício para você que está a procura de um!</p>
                <p class="preco">à vista R$ 250,00</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="card">
                <div class="produto" id="img-4"></div>
                <h3>Mouse Pad 4</h3>
                <p class="txt-prod">Mouse Pad com ótimo custo benefício para você que está a procura de um!</p>
                <p class="preco">à vista R$ 250,00</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="card">
                <div class="produto" id="img-5"></div>
                <h3>Mouse Pad 5</h3>
                <p class="txt-prod">Mouse Pad com ótimo custo benefício para você que está a procura de um!</p>
                <p class="preco">à vista R$ 250,00</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="card">
                <div class="produto" id="img-6"></div>
                <h3>Mouse Pad 6</h3>
                <p class="txt-prod">Mouse Pad com ótimo custo benefício para você que está a procura de um!</p>
                <p class="preco">à vista R$ 250,00</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="card">
                <div class="produto" id="img-7"></div>
                <h3>Mouse Pad 7</h3>
                <p class="txt-prod">Mouse Pad com ótimo custo benefício para você que está a procura de um!</p>
                <p class="preco">à vista R$ 250,00</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="card">
                <div class="produto" id="img-8"></div>
                <h3>Mouse Pad 8</h3>
                <p class="txt-prod">Mouse Pad com ótimo custo benefício para você que está a procura de um!</p>
                <p class="preco">à vista R$ 250,00</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="card">
                <div class="produto" id="img-9"></div>
                <h3>Mouse Pad 9</h3>
                <p class="txt-prod">Mouse Pad com ótimo custo benefício para você que está a procura de um!</p>
                <p class="preco">à vista R$ 250,00</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="card">
                <div class="produto" id="img-10"></div>
                <h3>Mouse Pad 10</h3>
                <p class="txt-prod">Mouse Pad com ótimo custo benefício para você que está a procura de um!</p>
                <p class="preco">à vista R$ 250,00</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="card">
                <div class="produto" id="img-11"></div>
                <h3>Mouse Pad 11</h3>
                <p class="txt-prod">Mouse Pad com ótimo custo benefício para você que está a procura de um!</p>
                <p class="preco">à vista R$ 250,00</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="card">
                <div class="produto" id="img-12"></div>
                <h3>Mouse Pad 12</h3>
                <p class="txt-prod">Mouse Pad com ótimo custo benefício para você que está a procura de um!</p>
                <p class="preco">à vista R$ 250,00</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="card">
                <div class="produto" id="img-13"></div>
                <h3>Mouse Pad 13</h3>
                <p class="txt-prod">Mouse Pad com ótimo custo benefício para você que está a procura de um!</p>
                <p class="preco">à vista R$ 250,00</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="card">
                <div class="produto" id="img-14"></div>
                <h3>Mouse Pad 14</h3>
                <p class="txt-prod">Mouse Pad com ótimo custo benefício para você que está a procura de um!</p>
                <p class="preco">à vista R$ 250,00</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="card">
                <div class="produto" id="img-15"></div>
                <h3>Mouse Pad 15</h3>
                <p class="txt-prod">Mouse Pad com ótimo custo benefício para você que está a procura de um!</p>
                <p class="preco">à vista R$ 250,00</p>
                <a href="#" class="btn">Comprar</a>
            </div>
        </section>
    </div>
</main>
{% endblock content %}